extends ../layouts/default

block content
	.container: .jumbotron
		h3 KeystoneJS DAM & MediaDB
		h1 Welcome
		p This is your new Digital Asset Management / Media Database.
		p It is based on the latest versions of
			| <a href='http://keystonejs.com/' target='_blank'>KeystoneJS</a>,
			| <a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
			| and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.
		hr
		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
		else
			p We have created a default Admin user for you with the email <strong>user@keystonejs.com</strong> and the password <strong>admin</strong>.
			p
				a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
				|  to use the Admin UI.
		hr
		p Remember to <a href='https://github.com/immist/keystone-media-db-dam' target='_blank'>Star this project on GitHub</a> and
			| <a href='https://twitter.com/immist42' target='_blank'>follow @immist42</a> on Twitter.
